<style>
  * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    margin: 0px auto;
  }
  
  h3{
    font-family: 'Encode Sans', sans-serif;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 15px;
  }
  
  .main-wrapper{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
  }
  
  .form-wrapper{
    width: auto;
    height: auto;
    background: white;
    border-radius: 10px;
    border: 5px ridge #5a4961;
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    padding: 20px 95px 10px 95px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-wrapper{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .image-wrapper img{
   width: auto;
    height: 100%;
    margin-left: 0px;
  }
  
  input{
    outline: none;
    border: none;
  }
  
  input[type=text],
  input[type=password]{
    width:auto;
  }
  
  .username{
    display: flex;
    width: 100%;
  }
  
  .password{  
    display: flex;
    width: 100%;
  }
  
  .icon{
    padding: 15px 10px 0px 10px;
    min-width: 20px;
    text-align: right;
  }
  
  .input-name{
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
  }
  
  .input-name:focus{
    border: 3px solid gray;
  }
  
  .input-password{
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
  }
  
  .input-password:focus{
    border: 3px solid gray;
  }
  
  
  .login-form-btn{
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    outline: none;
    border: none
  }
  
  .form-btn-wrapper{
    padding-top:25px;
  }
  
  .login-form-btn:hover{
    background: black;
    transition: all 0.4s;
    cursor: pointer;
  }
  
  .forget-password{
    padding-top: 10px;
    font-family: 'Encode Sans', sans-serif;
    color: #666;
  }
  .text2{
    color: #666;
    text-decoration: none;
  }
  
  .pad-t{
    padding-top: 100px;
    font-family: 'Encode Sans', sans-serif;
    color: #666;
  }
  
  .create-user{
    color: #666;
    text-decoration: none;
  }
  
  
  .team-scrum{
    font-family: 'Encode Sans', sans-serif;
    color: #333;
  }
  
  footer{
   background-color:#d3cfcc;
  
  }

  .alert{
      height: 52px;
      line-height: 45px;
  }
</style>

<div class = "main-wrapper">

  <div class = "form-wrapper" style="text-align: center;">
    <div class = "image-wrapper">
      <img class="image-congf" src = "https://cdn.pixabay.com/photo/2019/04/26/07/14/store-4156934_960_720.png" alt="IMG" width="300px" height="200.6px">
    </div>
    <form>
      <h3>Bienvenido<br/><br/>Inicia Sesion</h3>
      <div class="username" data-validate="No olvides ingresar tu usuario">
        <i class="fa fa-user icon"></i>
        <input class="input-name" type="text" name="user" placeholder="Ingresa tu usuario" [(ngModel)]="user"  required>
      </div>
      <div class="password" data-validate="No olvides ingrsar tu contraseña">
        <i class="fa fa-lock icon"></i>
        <input class="input-password" type="password" name="passw" placeholder="Ingresa tu contraseña" [(ngModel)]="pass"  required>
      </div>
      <div class="form-btn-wrapper">
        <button (click)="comparar()" class="login-form-btn" type="submit">Ingresar</button>
      </div>
      <div class="form-btn2-wrapper">
      </div>
      <div class="forget-password">
        <span class="text1">Olvidaste tu</span>
        <a class="text2" href=""><strong>Usuario/contraseña</strong></a>
      </div>
      <br/>
      <br/>
      <div  class="animate__animated animate__fadeIn" *ngIf="data_correct==1" class="alert alert-success" role="alert">
        Usuario Registrado
      </div>
      <div class="animate__animated animate__fadeIn" *ngIf="data_correct==0" class="alert alert-danger" role="alert">
        Usuario o Contraseña incorrectas!
      </div>
      <div class="user-log pad-t">
        <a class = "create-user" href=""><strong>Crea tu cuenta</strong></a>
      </div>
    </form>
  </div>

</div>

<div class="footer-text">
  
  <footer class="team-scrum" style="text-align: center;">
    Desarrollado por equipo SCRUM 4 &nbsp;&nbsp;
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </footer>

</div>