
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        Productos
      </div>
      <div class="card-body ">
        <div class="text-center">
          <input class="form-control" type="file" (change)="onChange($event)">
      
          <button (click)="onUpload()" class="btn btn-success">
            Upload
          </button>
          {{recibido}}
        </div>
        <div class="container">
          <h3 *ngFor="let dato of resultados; let i = index">
            Dato {{i}} obtuvo codigo {{dato[0]}}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
