<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="#">
                        Tienda Grupo 4
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, <i class="fab fa-angular"></i> Hecho por <a href="#">Scrum Grupo 4</a>
        </div>
    </div>
</footer>
