<div class="container">
    <div class="first__section">
        <div class="id">
            <h3>Cedula</h3>
            <input type="number" required>
        </div>
        <div class="phone">
            <h3>Telefono</h3>
            <input type="tel"  required>
        </div>
    </div>
    <div class="second__section">
        <div class="client__info">
            <div class="name__client">
                <h3>Nombre Completo</h3>
                <input type="text" required>
            </div>
            <div class="email__client">
                <h3>Correo Electronico</h3>
                <input type="email"  required>
            </div>
        </div>
    </div>
    <div class="address__section">
      <div class="address__client">
      <h3>Direccion </h3>
      <input type="text"  required>
    </div>
    </div>
    

    <ul type=none class="div__ul">
        <li><button type="button" class="btn btn-primary">Consultar</button></li>
        <li><button type="button" class="btn btn-info">Crear</button></li>
        <li><button type="button" class="btn btn-warning">Actualizar</button></li>
        <li><button type="button" class="btn btn-danger">Borrar</button></li>
    </ul>
    
</div>
